body {
  font-family: 'Gilroy', sans-serif;
  color: rgba(12, 12, 12, 0.7);
  background-color: #fbfbfb;
  font-size: 16px;
  line-height: 1.25;
}

/*#region Reset*/

a {
  text-decoration: none;
  color: currentColor;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  cursor: pointer;
  padding: 0;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*#endregion Reset*/

/*#region utils*/

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}

/*#endregion utils*/

/*#region Common*/

.container {
  max-width: 1280px;
  padding: 0 65px;
  margin: 0 auto;
}

.section {
  padding: 50px 0;
}

.section-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.92;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  margin-bottom: 40px;
}

/*#endregion Common*/

/*#region Section Sale*/
.sale-inner {
  display: flex;
  gap: 40px;
}

.sale-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 10px;
  flex-shrink: 0;

  height: 558px;
  width: 580px;
}

.sale-item {
  border: 1px solid rgba(12, 12, 12, 0.05);
  border-radius: 20px;
  width: 132px;
  height: 132px;
  padding: 16px 18px;

  background-color: #f3f3f3;
}

.sale-item:last-child {
  width: 428px;
  height: 558px;
}

.sale-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.sale-content {
  background-color: #3350e9;
  flex-grow: 1;
  padding: 60px 54px 60px 66px;

  border-radius: 50px;
}

.sale-content-title {
  margin-bottom: 10px;

  font-weight: 600;
  font-size: 32px;
  line-height: 1.13;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}

.sale-content-tag {
  margin-bottom: 20px;

  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.5);
}

.sale-prices {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}

.sale-current-price {
  border-radius: 8px;
  padding: 8px 12px;

  background-color: rgba(251, 251, 251, 0.1);

  font-weight: 600;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  color: #fbfbfb;
}

.sale-old-price {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  text-decoration: line-through;
  color: rgba(251, 251, 251, 0.5);
}

.sale-product-text {
  margin-bottom: 40px;

  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: rgba(251, 251, 251, 0.7);
}

.sale-product-categories {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  max-width: 398px;
}

.sale-product-category {
  border: 1px solid rgba(251, 251, 251, 0.2);
  border-radius: 8px;
  padding: 8px 12px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: #fbfbfb;
}

/*#endregion Section Sale*/

/*#region modal*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* width: 100%;
  height: 100%; */

  background-color: #3351e97b;

  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-open {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50px;
  padding: 50px 60px;
  width: 580px;

  background-color: #f3f3f3;

  transform: translate(-50%, -50%);
}

.modal-title {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
}

.input {
  margin-bottom: 18px;
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  padding: 16px 18px;
  width: 100%;
  height: 52px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #0c0c0c;
  background-color: transparent;
  outline: none;
  transition: border-color 250ms ease-in-out;
}

.input:focus,
.comment:focus {
  border-color: #3350e9;
}

.input::placeholder,
.comment::placeholder {
  color: #0c0c0c;
}

.comment {
  margin-bottom: 32px;
  border: 1px solid rgba(12, 12, 12, 0.15);
  border-radius: 12px;
  padding: 16px;
  width: 460px;
  height: 90px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #0c0c0c;
  background-color: transparent;
  outline: none;
  resize: none;
  transition: border-color 250ms ease-in-out;
}

.form-btn {
  border-radius: 16px;
  padding: 17px 63px;
  min-width: 160px;
  border: none;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fbfbfb;
  background-color: #3350e9;
  transition: background-color 250ms ease-in-out;
}

.form-btn:hover,
.form-btn:focus {
  background-color: #1f3cd4;
}

/*#endregion modal*/
